#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 600px;
    width: 1200px;
    background-color: rgb(224, 224, 224);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(110, 223, 231);
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(184, 188, 219);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}
#addbeebtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
#addbeebtn:hover {
    background-color: orange;
    color: black;
    border: 3px solid blue;
}